@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>


<address>
    Gustavo Mejia Ricart<br />
    Calle, Maximo Aviles Blonda<br />
    Santo Domingo, R.D<br />
<abbr title="Phone">Tel: 829-845-4565</abbr>

</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:HospitalBS@soporte.com">HospitalBS@soporte.com</a><br />
    <strong>Servicio:</strong> <a href="mailto:HospitalBS@servicio.com">HospitalBS@servicio.com</a>
</address>