@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema Hospitalario Buena Salud!</h1>
    <center>
    <img src="~/Imagen/medical-concept-hospital-building-doctor-260nw-588196298.jpg" />
    </center>
</div>

